<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlaneCircle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65B2348C1CFE857500835833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B234A81CFE857500835833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B234B31CFE857500835833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E957701D14030E006BC7B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
